.side-menu {
    background-color: var(--color-primary);
}

.side-menu__profile {
    background-color: var(--color-secondary);
    color: var(--color-white);
    height: 59px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
}

.side-menu__profile > .avatar {
    margin-right: 10px;
}

.side-menu__data-name {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.side-menu__data-username {
    color: var(--color-whitefade);
    font-size: var(--font-size-small);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.side-menu__items {
    list-style: none;
    margin: 10px 0;
    padding: 0;
}

.side-menu__item {
    color: var(--color-whitefade);
    position: relative;
}

.side-menu__link {
    display: flex;
    padding: 10px 20px;
    text-decoration: none;
    align-items: center;
}

.side-menu__link:hover {
    color: var(--color-white);
}

.side-menu__link > svg {
    margin-right: 10px;
}

.side-menu__item--selected {
    background-color: var(--color-darkprimary);
    color: var(--color-white);
}

.side-menu__item--selected svg {
    border-color: var(--color-white);
}
