<div class="statistics-box">
    <h3 class="statistics-box__big-number">{{ statistic['number'] }}
        <sup class="statistics-box__small-number statistics-box__small-number--color-positive">({{ statistic['difference'] }})</sup>
    </h3>
    <span class="statistics-box__sub-text">{{ statistic['subText'] }}</span>
</div>
