{% extends '/shared/base.twig' %}

{% block title %}Sección{% endblock %}

{% block body %}
    <div class="content">
        {{ include('shared/sidebar.twig') }}
        <section class="main">
            <nav class="nav-bar">
                <div class="top-search">
                    <span class="top-search__icon">{{ source('icons/search.svg') }}</span>
                    <input type="text" class="top-search__field" placeholder="Buscar titular, usuario...">
                </div>
                <a href="{{ path_for('logout') }}" class="nav-bar__logoff">
                    {{ source('icons/exit.svg') }}
                </a>
            </nav>
            {% block content %}{% endblock %}
        </section>
    </div>
{% endblock %}
