{% if pagination.lastPage() > 1 %}
    <ul class="pagination">
        {% if not pagination.onFirstPage() %}
            <li class="pagination__page">
                <a href="{{ pagination.previousPageUrl() }}"  class="pagination__link">&laquo; Anterior</a>
            </li>
        {% endif %}

        {% for page in 1..pagination.lastPage() %}
            <li class="pagination__page {% if page == pagination.currentPage() %}pagination__page--selected{% endif %}">
                <a href="{{ pagination.url(page) }}" class="pagination__link">{{ page }}</a>
            </li>
        {% endfor %}

        {% if pagination.hasMorePages() %}
            <li class="pagination__page">
                <a href="{{ pagination.nextPageUrl() }}"  class="pagination__link">Siguiente &raquo;</a>
            </li>
        {% endif %}
    </ul>
{% endif %}
